/*DEV*/
#dts {/*black*/
  color: #000000;
  position: absolute;
  float: left;
  top: 37px;
  left: 10px;
  font-size: 10px;
  z-index:2;
}

.green{
  color:#01AA24;
}
.strikeFee{
  color:#CC5C5D;
  text-decoration:line-through;
}
/*Override Main.css*/
html {
    overflow-y: scroll; 
}
.row {
  width: 80%;
  margin: 0px auto;
  padding-bottom: 0px;
}
h4 {
  margin-top: 3px;
}
.a4d .btn.navy {
  border: 3px double teal;
}
#agentButton{
  margin-top:20px;
}
#brokerButton{
  margin-top:20px;
}
/*.a4d .inner form, .a4d .inner form .form-control{
  text-align: left;
}*/
.a4d label .labelInfo {
  position:relative;
  color: grey;
  font-size:12px;
  line-height:14px;
  font-weight:normal;
  margin-bottom:0px !important;
}
.a4d .tableLabel{
}
.a4d form table .labelInfo{
  position:relative;
  color: grey;
  font-size:12px;
  line-height:14px;
  font-weight:normal;
}
.hideOnLoad {
  display:none;
}
.a4d .alert {
  display: none;
  font-size: 80%;
  width: 80%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.a4d .alert button{
  margin-top: 0px;
}
div.ui-datepicker table {
    border: 00px none #fff;
    box-sizing:content-box;
}
div.ui-datepicker {
    font-size: 62.5%; 
}
textarea {
  resize: none;
  overflow-y: scroll;
  height:300px;
  }
.summary-body {
    background-color: #FFFFFF;
    border: 0px solid #abe0ed;
    border-radius: 5px;
    margin-bottom: 0px;
}
.has-error .help-block{
  margin: 0px;
  font-size: 80%;
}
  
.help-block{
  margin: 0px;
  font-size: 80%;
  color: #a94442;
}
  
/* Common */
.capitalize{
  text-transform:capitalize;
}
.qmark{
  cursor:pointer;
  color:#46B7D5;
}

#loading {
  background-image: url(/img/loading/ajax_loader_blue_128.gif);
  position: fixed;
  background-color: rgba(0, 0 , 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  display:none;
}
#creating {
  background-image: url(/img/loading/ajax_create_blue_128.gif);
  position: fixed;
  background-color: rgba(0, 0 , 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  display:none;
}
.top-spacer-20 {
  padding-top: 20px;
}
.top-margin-15 {
  margin-top: 15px !important;
}
.bottom-spacer-20 {
  padding-bottom: 20px;
}

.top-spacer-10 {
  padding-top: 10px;
}
.bottom-spacer-10 {
  padding-bottom: 10px;
}

.row.wide {
  width: 70%;
}
.row.narrow {
  width: 60%;
}
.row.full {
  width: 100%;
}
/*NAV CSS*/
#navBar{
  position:relative;
}

.a4d #navBar .outer {
  margin-top: 0px;
}
.a4d #navBar .inner {
  height: 50px;
}
.a4d #navBar .topBar {
  text-transform:none;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
#navName{
  position:absolute;
  font-size:12px;
  line-height:12px;
  text-align:right;
  top:13px;
  right:150px;
  z-index: 1;
  font-weight:600;
        }
#navBar .topBar div.btn {
  margin-top: 4px;
  border: 0px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
  width: 125px;
}
.updateButton{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color rgba(255, 255, 255, 0.3);
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
  font-size: 12px;
  font-weight: 600;
  width: 75px;
  margin-top:1px;
  padding-left:0px;
  padding-right:0px;
  }
    
.a4d a.logo {
  color:transparent;
  margin-top: 0px;
  margin-left: 0px;
  top: 10px;
  left: 7px;
  width: 202px;
  height: 30px;
  background: transparent url("../img/logos/ecommission-logo-inner-rev.png") top left no-repeat;
}
#loginLogo {
  width: 310px;
  height: 75px;
  text-indent: -10000px;
  display:block;
  background: transparent url("../img/logos/ecommission-logo.png") top left no-repeat;
}

.productBox {
  cursor:pointer;
  width:200px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: none;
  font-size: 14px;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.productBox .title {
  line-height:20px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.productBox p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.productBox img {
  cursor:pointer;
}

/*Page heading*/
.a4d #heading .inner {
  padding-top: 0px;
}
.headerContainer {
  border-bottom: 1px solid #CCC;
  padding-top: 00px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
/*Main Menu*/
.a4d #mainMenu .inner {
  padding-top: 15px;
}
.a4d #mainMenu .btn.btn-block {
  margin-bottom: 10px;
}
.a4d #mainMenu a .btn:hover {
  text-decoration: none;
}
/*Apply Menu*/
#applyMenu .rollover {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 00px;
  margin-right: 30px;
}

/* Summary */
.panel .form-group{
  margin-bottom:0px;
}
.panel h4{
font-weight:600;
color:#46b7d5;
text-decoration:none;
}
.panel h4:hover, .panel a:hover{
font-weight:600;
text-decoration:none;
color:#428bca;
}
.panel a:focus{
color:#428bca;
  outline:none;
  text-decoration:none;
}

.editButton{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color rgba(255, 255, 255, 0.3);
    border-width: 0 0 1px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
    font-size: 12px;
    width: 50px;
        background-color: #f18200;
    color: #fff;
    }
.editButton:hover{
  color:white;
  text-decoration:none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -ms-transform: scale(1.1); /* IE 9 */
  -moz-transform: scale(1.1); /* Firefox */
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -o-transform: scale(1.1); /* Opera */
}

/*Logout*/
#logout button {
  margin-top: 30px;
}
#logout p {
  margin-top: 30px;
  margin-bottom: 00px;
}
#logout .inner {
  text-align:left;
}
.a4d form.application {
  margin-top: 20px ;
}
.a4d form label {
    margin-bottom: 0;
}

/* Slider */
sup{
  font-weight:normal;
}
#sliderArea {
  padding:20px;
  background: #f1fafc url("/img/css/teal-bg.png") top left repeat !important;
	width: 100%;
	float: left;
  margin-bottom:20px;
}
#advanceSlider{
  margin-top:20px;
  margin-bottom:5px;
}
#sliderMinLabel {
  font-weight: bold;
  color: teal ;
  padding-left:0px;
  padding-right:0px;
  line-height: 10px;
  height: 25px;
  font-size: 10px;
}
#sliderMaxLabel {
  font-weight: bold;
  color: teal ;
  padding-left:0px;
  padding-right:0px;
  line-height: 10px;
  height: 25px;
  font-size: 10px;
}
#bridgeTable {
  border: 0;
  border: 5px solid #FFF;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  width: 40%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
#bridgeTable td {
  background-color: #EEE;
  padding: 5px 5px;
  font-size: 100%;
  text-align: center;
  line-height: 12px;
}
#bridgeTable th {
  background-color: #EEE;
  padding: 5px 5px;
  font-size: 100%;
  text-align: center;
  line-height: 12px;
  border-bottom: 3px double #AAA;
}
#feeTable {
  border: 0;
  border: 10px solid #FFF;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  width: 60%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
#feeTable td {
  background-color: #EEE;
  padding: 10px 10px;
  font-size: 130%;
  text-align: right;
line-height: 16px;
}
#feeTable tr.underline td {
  border-bottom: 3px double #AAA;
}
 #advanceInputField{
  background-color:#EEE;
  font-weight: bold;
  color: #0085B2;
  font-size: 100%;
}
table tr td:last-child {
  color: #000;
}
   
#updateAdvance{
  margin-top:15px;
  margin-left:10px;
}
#advanceAmount {
  margin-top:0px;
}
#advanceInputField{
  width:100px;
}
#advanceFee {
  margin-top:0px;
}


/* footer */

/* this style needs to be removed!!! -dwm */
.a4d #footer {
  padding-top: 30px;
  background-color:white;
}

.a4d #footer .inner {
  overflow: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 10px;
}
#footer .text-left {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
#footer .text-right {
  margin-top: 20px;
  text-align: right;
}
.breadcrumb {
  text-align:left;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 90%
}

/* signup */
.agenttype {
	display:inline-block;
}

@media screen and (max-width: 980px) {
#dts { /*red*/
  color: #FF0000;
}
.loading {
  background-image: url(/img/loading/ajax_loader_blue_128.gif);
}
#applyMenu .rollover {
  margin-right: 20px;
}
.breadcrumb {
  width: 80%
}

}
@media screen and (max-width:933px) {
/* signup */
.agenttype {
	display:block;
}
.panel-body {
	text-align:center;
}
.break1 {
	display:inline-block;
	text-align:left;
}
.break2 {
	display:inline-block;
}
}
@media screen and (max-width: 850px) {
#dts { /*green*/
  color: #00FF00;
}
.row {
  width: 90%;
}
.row.wide {
  width: 80%;
}
.row.narrow {
  width: 70%;
}
.headerContainer {
  margin-top:30px;
  text-align: left;
}
.a4d #heading .inner {
  padding-top: 0px;
}
.a4d #footer .inner {
  font-size: 10px;
}
#footer .text-left {
  text-align: center;
  font-size: 12px;
}
#footer .text-right {
  margin-bottom: 20px;
  text-align: center;
}
}
@media screen and (max-width: 768px) {
#dts { /*blue*/
  color: #0000FF;
}
.breadcrumb {
  width:100%;
}
.updateButton{
  margin-top:5px;
  margin-left:15px;
}
#advanceAmount h3, #advanceFee h3, #purchaseAmount h3 {
  text-align:center;
}
#advanceAmount, #advanceFee, #purchaseAmount {
  margin-top: 5px;
}
}

@media screen and (max-width: 560px) {
#dts { /*yellow*/
  color: #FFFF00;
}
.loading {
  background-image: url(/img/loading/ajax_loader_blue_64.gif);
}
#navName{
  top:55px;
  text-align:center;
  left:0;
  right:0;
}
table td {
  font-size:100%;
}
.row {
  width: 100%;
}
.row.wide {
  width: 90%;
}
.row.narrow {
  width: 80%;
}
.headerContainer {
  text-align: center;
}

#navBar .topBar div.btn {
  width: 95px;
  margin-top: 7px;
  font-size: 11px;
}
.a4d #heading .inner {
  padding-top: 0px;
}
#applyMenu .rollover {
  margin-top: 10px;
  margin-bottom: 00px;
  margin-right: 20px;
}
#footer .text-left {
  text-align: center;
  font-size: 10px;
}
#advanceAmount h3, #advanceFee h3, #purchaseAmount h3 {
  text-align:center;
}
#advanceAmount, #advanceFee, #purchaseAmount {
  margin-top: 5px;
}
}
@media screen and (max-width:401px) {
/* signup */
.brokerButton {
	position:relative;
	bottom:-23px;
	padding-bottom:30px;
}
}
@media screen and (min-width:401px) {
/* signup */
.break3 {
	display:none;
}
}
